* {
  box-sizing: border-box;
  font-family: "Press Start 2P";
  color: white;
}

body {
  background-color: rgba(5, 5, 5, 0.89);
}

#number-range {
  display: inline;
  margin-top: 20px;
  margin-right: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

.button {
  margin: 10px;
  color: black;
  background-color: white;
  width: 100px;
  height: 40px;
  border-width: 2px;
}

.title {
  color: white;
  text-align: center;
  margin: 20px;
  text-shadow: 2px 2px 2px gray;
}

#result-style {
  margin: 70px 0 70px 0;
  padding: 50px 0 50px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-result {
  position: absolute;
  padding: 4%;
  text-align: center;
  border-width: 10px;
  border-color: white;
  border-style: solid;
  font-size: 40px;
  background-color: #332f2fd3;
  z-index: 1000;
}

#line {
  border-style: solid;
  border-color: blue;
  z-index: 500;
  width: 100%;
}

#digit-box {
  width: 120px;
  height: 80px;
  font-size: 35px;
  text-align: right;
  background-color: transparent;
  border-width: 10px;
  border-color: whitesmoke;
  display: block;
  margin: auto;
  color: white;
}

#check-button {
  margin: 20% auto 0 auto;
}

main {
  display: flex;
  justify-content: center;
}

#number-check {
  margin: auto;
  display: flex;
  flex-direction: column;
}

#marks {
  margin: auto;
}

#marks p {
  margin: 20px 0px 40px 0px;
  text-align: left;
}
